.detailbox {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.detailpage {
  display: grid;
  grid-template-columns: repeat(2, 5fr, 1fr);
  grid-gap: inherit;
  padding: 10px;
  padding-top: 70px;
  width: 100%;
}

.detailcardbox {
  max-width: 90%;
  margin-bottom: 3rem;
}
.relatedvideobox {
  display: flex;
  max-width: 50%;
}
