.videocard a {
  color: var(--color-text);
  text-decoration: none;
}
.videocard {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 320px;
  height: 320px;
}
.title {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.titlebox {
  height: 68px;
}
